.collection-item{
    display: flex;
}

.collection-item .row{
    word-wrap: break-word;
}

.row .col.s1{
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.gobackchatroom {
    display: flex;
}

.submitbutton{
    text-align: right;
}
.setname{
    text-align: center;
}

/*@media only screen and (min-width: 768px){*/
    /*nav .brand-logo{*/
        /*left: 17%;*/
        /*transform: translateX(-50%);*/
    /*}*/
    /*.center{*/
        /*font-size: 6.2rem;*/
    /*}*/
/*}*/


@media only screen and (min-width: 413px){
    nav .brand-logo{
        left: 17%;
        transform: translateX(-50%);
    }
    .center{
        font-size: 3.2rem;
    }

    .trashcan {
        display: none;
    }

    .deleteButton {
        display: inline;
    }
}

@media only screen and (max-width: 412px){
    li{
        display: none;
    }
    .center{
        font-size: 2.2rem;
    }
    .trashcan{
        display: inline;

    }

    .deleteButton {
        display: none;
    }

}